# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
bin/
boto3-*
DESCRIPTION.rst
METADATA
metadata.json
RECORD
top_level.txt
WHEEL
boto*
common/
common*
package*
# Serverless directories
.serverless